@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This app and site does not store PII. PII that is entered is used to generate printed output, but is not maintained in a database.</p>