@page
@model ReferenceDataModel
@{
    ViewData["Title"] = "Reference Data";
}
<h2>@ViewData["Title"]</h2>

<p>The following reference data is maintained by this application.</p>

<ul>
  <li><a asp-page="/County/Index">Counties</a></li>
  <li><a asp-page="/School/Index">Schools</a></li>
  <li><a asp-page="/LawEnforcement/Index">Law Enforcement</a></li>
  <li><a asp-page="/RaceEthnicity/Index">Race/Ethnicity</a></li>
  <li><a asp-page="/Vulnerabilities/Index">Vulnerabilities</a></li>
</ul>
