@page
@model mcmreporting.Pages.LawEnforcementModel
@{
  ViewData["Title"] = "Law Enforcement";
}

<h2>Law Enforcement Agencies</h2>

<p>
  <a asp-page="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.LawEnforcement)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Agency)
        </td>
        <td>
          <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
          <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>
    }
  </tbody>
</table>